/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #bde0fe;
  margin-top: 1em;
}

.inputs {
  display: flex;
  width: 80%;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  font-family: "noto sans jp", sans-serif;
  margin-bottom: 100px;
}

h1 {
  color: #ffafcc;
  font-size: 85px;
  text-decoration: underline;
  margin-bottom: 0.2em;
  font-family: roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 1.5em;
  font-family: "noto sans jp", sans-serif;
  text-align: center;
}

.btn button {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.6s;
}

.btn button:hover,
.btn button:focus {
  background-color: #ffc8dd;
  /* padding: 0.7em; */
  font-size: 22px;
}

.meme-zone {
  background-color: green;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex-start;
}

.practice-meme img {
  max-width: 350px;
  background-color: black;
}

.meme img {
  max-width: 450px;
  /* position: absolute; */
}

.meme {
  position: relative;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-top: 5px;
}

.top {
  position: absolute;
  top: -10;
  left: 0;
  font-size: 50px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.bot {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 50px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.x {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 10px;
}
